openapi: 3.1.0
info:
  version: 0.0.1
  title: Fpan REST API
  license:
    name: MIT
    identifier: MIT
servers:
  - url: "https://pan.hrtius.com"
tags:
  - name: Entries
    description: List and navigate files and folders
  - name: Trash
    description: Restore or permanently remove soft-deleted entries
  - name: Files
    description: File upload and metadata operations
  - name: Folders
    description: Folder create and metadata operations
  - name: Blobs
    description: Physical file content retrieval by sha256
  - name: Shares
    description: Share link management (authenticated)
  - name: Shared
    description: Access shared resources via token (public)
security:
  - CookieSession: []

paths:
  /healthz:
    get:
      summary: Check process liveness
      operationId: healthz
      security: []
      responses:
        "200":
          description: Process is alive

  /readyz:
    get:
      summary: Check service readiness
      operationId: readyz
      security: []
      responses:
        "200":
          description: Database and storage are ready
        "503":
          $ref: "#/components/responses/Error"

  /api/v1/auth/login:
    get:
      summary: Start OIDC login
      description: In loopback-only mock mode, redirects directly to the normal authentication callback.
      operationId: startOIDCLogin
      security: []
      responses:
        "302":
          description: Redirect to the OIDC provider
        "500":
          $ref: "#/components/responses/Error"

  /api/v1/auth/callback:
    get:
      summary: Complete OIDC login
      description: Completes either a real OIDC exchange or the configured local mock flow and creates a session.
      operationId: completeOIDCLogin
      security: []
      parameters:
        - name: code
          in: query
          required: true
          schema:
            type: string
        - name: state
          in: query
          required: true
          schema:
            type: string
      responses:
        "302":
          description: Redirect after creating the session
        "400":
          $ref: "#/components/responses/Error"
        "500":
          $ref: "#/components/responses/Error"

  /api/v1/auth/logout:
    post:
      summary: End the current session
      operationId: logout
      security: []
      responses:
        "204":
          description: Session ended

  # ============================================================
  #  Entries — combined file + folder listing
  # ============================================================
  /api/v1/entries:
    get:
      summary: List root entries
      description: Returns files and folders at the root level (parent_id is null).
      operationId: listRootEntries
      tags:
        - Entries
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/SortBy"
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/TypeFilter"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedEntries"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"

  /api/v1/folders/{id}/entries:
    get:
      summary: List folder entries
      description: Returns files and sub-folders inside the specified folder.
      operationId: listFolderEntries
      tags:
        - Entries
      parameters:
        - $ref: "#/components/parameters/FolderId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/SortBy"
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/TypeFilter"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedEntries"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  # ============================================================
  #  Trash — soft-deleted entry management
  # ============================================================
  /api/v1/trash:
    get:
      summary: List top-level deleted entries
      description: Descendants of a deleted folder are represented by that folder only.
      operationId: listTrash
      tags:
        - Trash
      responses:
        "200":
          $ref: "#/components/responses/TrashEntries"
        "401":
          $ref: "#/components/responses/Error"
    delete:
      summary: Permanently remove all deleted entries
      operationId: emptyTrash
      tags:
        - Trash
      responses:
        "204":
          description: Trash emptied successfully
        "401":
          $ref: "#/components/responses/Error"

  /api/v1/trash/{type}/{id}:
    delete:
      summary: Permanently remove a deleted entry
      operationId: purgeTrashEntry
      tags:
        - Trash
      parameters:
        - $ref: "#/components/parameters/EntryType"
        - $ref: "#/components/parameters/EntryId"
      responses:
        "204":
          description: Entry permanently removed
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  /api/v1/trash/{type}/{id}/restore:
    post:
      summary: Restore a deleted entry
      operationId: restoreTrashEntry
      tags:
        - Trash
      parameters:
        - $ref: "#/components/parameters/EntryType"
        - $ref: "#/components/parameters/EntryId"
      responses:
        "204":
          description: Entry restored successfully
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  # ============================================================
  #  Files CRUD
  # ============================================================
  /api/v1/files:
    post:
      summary: Upload file to root (form-data)
      operationId: uploadFileToRoot
      tags:
        - Files
      requestBody:
        $ref: "#/components/requestBodies/UploadFile"
      responses:
        "201":
          $ref: "#/components/responses/FileDetail"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  /api/v1/files/stream:
    post:
      summary: Upload file to root (octet-stream)
      operationId: uploadFileToRootStream
      tags:
        - Files
      parameters:
        - $ref: "#/components/parameters/FileDisplay"
        - $ref: "#/components/parameters/FileMimeType"
      requestBody:
        $ref: "#/components/requestBodies/UploadFileStream"
      responses:
        "201":
          $ref: "#/components/responses/FileDetail"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  /api/v1/folders/{id}/files:
    post:
      summary: Upload file to folder (form-data)
      operationId: uploadFileToFolder
      tags:
        - Files
      parameters:
        - $ref: "#/components/parameters/FolderId"
      requestBody:
        $ref: "#/components/requestBodies/UploadFile"
      responses:
        "201":
          $ref: "#/components/responses/FileDetail"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  /api/v1/folders/{id}/files/stream:
    post:
      summary: Upload file to folder (octet-stream)
      operationId: uploadFileToFolderStream
      tags:
        - Files
      parameters:
        - $ref: "#/components/parameters/FolderId"
        - $ref: "#/components/parameters/FileDisplay"
        - $ref: "#/components/parameters/FileMimeType"
      requestBody:
        $ref: "#/components/requestBodies/UploadFileStream"
      responses:
        "201":
          $ref: "#/components/responses/FileDetail"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  /api/v1/files/{id}:
    get:
      summary: Get file metadata
      operationId: getFile
      tags:
        - Files
      parameters:
        - $ref: "#/components/parameters/FileId"
      responses:
        "200":
          $ref: "#/components/responses/FileDetail"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    put:
      summary: Update file (rename / move)
      operationId: updateFile
      tags:
        - Files
      parameters:
        - $ref: "#/components/parameters/FileId"
      requestBody:
        $ref: "#/components/requestBodies/UpdateFile"
      responses:
        "200":
          $ref: "#/components/responses/FileDetail"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
    delete:
      summary: Delete file (soft)
      operationId: deleteFile
      tags:
        - Files
      parameters:
        - $ref: "#/components/parameters/FileId"
      responses:
        "204":
          description: Deleted successfully
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  # ============================================================
  #  Folders CRUD
  # ============================================================
  /api/v1/folders:
    post:
      summary: Create folder
      operationId: createFolder
      tags:
        - Folders
      requestBody:
        $ref: "#/components/requestBodies/CreateFolder"
      responses:
        "201":
          $ref: "#/components/responses/FolderDetail"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"

  /api/v1/folders/{id}:
    get:
      summary: Get folder metadata
      operationId: getFolder
      tags:
        - Folders
      parameters:
        - $ref: "#/components/parameters/FolderId"
      responses:
        "200":
          $ref: "#/components/responses/FolderDetail"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    put:
      summary: Update folder (rename / move)
      operationId: updateFolder
      tags:
        - Folders
      parameters:
        - $ref: "#/components/parameters/FolderId"
      requestBody:
        $ref: "#/components/requestBodies/UpdateFolder"
      responses:
        "200":
          $ref: "#/components/responses/FolderDetail"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
        "409":
          $ref: "#/components/responses/Error"
    delete:
      summary: Delete folder (soft)
      operationId: deleteFolder
      tags:
        - Folders
      parameters:
        - $ref: "#/components/parameters/FolderId"
      responses:
        "204":
          description: Deleted successfully
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  # ============================================================
  #  Blobs — physical file content
  # ============================================================
  /api/v1/blobs/{sha256}:
    get:
      summary: Download blob content
      description: Returns the raw binary content of a physical file identified by sha256.
      operationId: getBlobContent
      tags:
        - Blobs
      parameters:
        - $ref: "#/components/parameters/Sha256"
      responses:
        "200":
          description: Blob binary content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  # ============================================================
  #  Shares — link management (authenticated)
  # ============================================================
  /api/v1/shares:
    post:
      summary: Create share link
      operationId: createShare
      tags:
        - Shares
      requestBody:
        $ref: "#/components/requestBodies/CreateShare"
      responses:
        "201":
          $ref: "#/components/responses/ShareDetail"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
    get:
      summary: List my shares
      operationId: listShares
      tags:
        - Shares
      parameters:
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedShares"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"

  /api/v1/shares/{id}:
    get:
      summary: Get share detail
      operationId: getShare
      tags:
        - Shares
      parameters:
        - $ref: "#/components/parameters/ShareId"
      responses:
        "200":
          $ref: "#/components/responses/ShareDetail"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    put:
      summary: Update share
      operationId: updateShare
      tags:
        - Shares
      parameters:
        - $ref: "#/components/parameters/ShareId"
      requestBody:
        $ref: "#/components/requestBodies/UpdateShare"
      responses:
        "200":
          $ref: "#/components/responses/ShareDetail"
        "400":
          $ref: "#/components/responses/Error"
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"
    delete:
      summary: Delete share
      operationId: deleteShare
      tags:
        - Shares
      parameters:
        - $ref: "#/components/parameters/ShareId"
      responses:
        "204":
          description: Deleted successfully
        "401":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  # ============================================================
  #  Shared access — public (no auth)
  # ============================================================
  /api/v1/s/{token}:
    get:
      summary: Access shared resource
      description: |
        Returns metadata for a shared file or folder.
        For password-protected shares, supply `?password=...`.
      operationId: accessShared
      tags:
        - Shared
      security: []
      parameters:
        - $ref: "#/components/parameters/ShareToken"
        - $ref: "#/components/parameters/SharePassword"
      responses:
        "200":
          $ref: "#/components/responses/SharedResource"
        "403":
          $ref: "#/components/responses/Error"
          description: Wrong password, expired, or download limit reached
        "404":
          $ref: "#/components/responses/Error"

  /api/v1/s/{token}/entries:
    get:
      summary: List shared folder contents
      operationId: listSharedEntries
      tags:
        - Shared
      security: []
      parameters:
        - $ref: "#/components/parameters/ShareToken"
        - $ref: "#/components/parameters/SharePassword"
        - $ref: "#/components/parameters/SharedParentId"
        - $ref: "#/components/parameters/Page"
        - $ref: "#/components/parameters/Size"
        - $ref: "#/components/parameters/Sort"
        - $ref: "#/components/parameters/SortBy"
        - $ref: "#/components/parameters/Filter"
      responses:
        "200":
          $ref: "#/components/responses/PaginatedEntries"
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

  /api/v1/s/{token}/blobs/{sha256}:
    get:
      summary: Download shared file content
      operationId: downloadSharedBlob
      tags:
        - Shared
      security: []
      parameters:
        - $ref: "#/components/parameters/ShareToken"
        - $ref: "#/components/parameters/Sha256"
        - $ref: "#/components/parameters/SharePassword"
      responses:
        "200":
          description: File binary content
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "403":
          $ref: "#/components/responses/Error"
        "404":
          $ref: "#/components/responses/Error"

components:
  securitySchemes:
    CookieSession:
      description: HttpOnly session cookie created after OIDC login
      type: apiKey
      in: cookie
      name: fpan_session

  # ----------------------------------------------------------
  #  Shared Parameters
  # ----------------------------------------------------------
  parameters:
    # --- path parameters ---
    FileId:
      name: id
      in: path
      required: true
      description: File ID
      schema:
        type: integer
        format: int64

    FolderId:
      name: id
      in: path
      required: true
      description: Folder ID
      schema:
        type: integer
        format: int64

    EntryId:
      name: id
      in: path
      required: true
      description: File or folder ID
      schema:
        type: integer
        format: int64
        minimum: 1

    EntryType:
      name: type
      in: path
      required: true
      description: Type of the file-system entry
      schema:
        type: string
        enum: [file, folder]

    ShareId:
      name: id
      in: path
      required: true
      description: Share ID
      schema:
        type: integer
        format: int64

    Sha256:
      name: sha256
      in: path
      required: true
      description: SHA-256 hex digest (64 lowercase hex chars)
      schema:
        type: string
        minLength: 64
        maxLength: 64
        pattern: "^[a-f0-9]{64}$"

    ShareToken:
      name: token
      in: path
      required: true
      description: Share token string
      schema:
        type: string
        minLength: 8

    # --- header parameters (stream upload) ---
    FileDisplay:
      name: X-File-Name
      in: header
      required: true
      description: Original file name
      schema:
        type: string
        minLength: 1

    FileMimeType:
      name: X-File-Type
      in: header
      required: false
      description: File MIME type hint (e.g. image/png)
      schema:
        type: string

    # --- query parameters (shared) ---
    SharePassword:
      name: password
      in: query
      required: false
      description: Password for password-protected shares
      schema:
        type: string

    SharedParentId:
      name: parent_id
      in: query
      required: false
      description: Active folder ID inside the shared folder subtree; omitted lists the shared folder root
      schema:
        type: integer
        format: int64
        minimum: 1

    # --- query parameters (pagination) ---
    Page:
      name: page
      in: query
      required: false
      description: Page number (1-indexed)
      schema:
        type: integer
        minimum: 1
        default: 1

    Size:
      name: size
      in: query
      required: false
      description: Items per page
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    Sort:
      name: sort
      in: query
      required: false
      description: Sort direction
      schema:
        type: string
        enum: [asc, desc]
        default: asc

    SortBy:
      name: sort_by
      in: query
      required: false
      description: Field to sort by
      schema:
        type: string
        enum: [name, created_at, updated_at]
        default: name

    Filter:
      name: filter
      in: query
      required: false
      description: Keyword filter on display name
      schema:
        type: string

    TypeFilter:
      name: type
      in: query
      required: false
      description: Filter by entry type
      schema:
        type: string
        enum: [all, file, folder]
        default: all

  # ----------------------------------------------------------
  #  Schemas
  # ----------------------------------------------------------
  schemas:
    Error:
      type: object
      properties:
        code:
          type: integer
          minimum: 1000
          maximum: 9999
          description: Internal error code
        message:
          type: string
          description: Human-readable error message
      required:
        - code
        - message

    # --- File & Folder ---

    File:
      type: object
      properties:
        type:
          type: string
          enum: [file]
          description: Discriminator value
        id:
          type: integer
          format: int64
          readOnly: true
          description: Auto-increment primary key
        display:
          type: string
          minLength: 1
          description: File name
        parent_id:
          type: [integer, "null"]
          format: int64
          description: Parent folder ID (null = root)
        mime_type:
          type: string
          description: MIME type (e.g. image/png)
        blob:
          $ref: "#/components/schemas/BlobInfo"
          description: Physical file metadata (sha256 dedup)
        created_at:
          type: integer
          format: int64
          readOnly: true
          description: Unix timestamp
        updated_at:
          type: integer
          format: int64
          readOnly: true
          description: Unix timestamp
        deleted_at:
          type: [integer, "null"]
          format: int64
          readOnly: true
          description: Soft-delete timestamp (null = active)
      required:
        - type
        - id
        - display
        - parent_id
        - mime_type
        - blob
        - created_at
        - updated_at
        - deleted_at

    Folder:
      type: object
      properties:
        type:
          type: string
          enum: [folder]
          description: Discriminator value
        id:
          type: integer
          format: int64
          readOnly: true
          description: Auto-increment primary key
        display:
          type: string
          minLength: 1
          description: Folder name
        parent_id:
          type: [integer, "null"]
          format: int64
          description: Parent folder ID (null = root)
        created_at:
          type: integer
          format: int64
          readOnly: true
          description: Unix timestamp
        updated_at:
          type: integer
          format: int64
          readOnly: true
          description: Unix timestamp
        deleted_at:
          type: [integer, "null"]
          format: int64
          readOnly: true
          description: Soft-delete timestamp (null = active)
      required:
        - type
        - id
        - display
        - parent_id
        - created_at
        - updated_at
        - deleted_at

    Entry:
      description: Discriminated union — use `type` to determine shape
      oneOf:
        - $ref: "#/components/schemas/File"
        - $ref: "#/components/schemas/Folder"
      discriminator:
        propertyName: type
        mapping:
          file: "#/components/schemas/File"
          folder: "#/components/schemas/Folder"

    # --- Blob (physical file metadata, embedded in File) ---

    BlobInfo:
      type: object
      properties:
        sha256:
          type: string
          minLength: 64
          maxLength: 64
          description: Content SHA-256
        size:
          type: integer
          format: int64
          description: Size in bytes
        created_at:
          type: integer
          format: int64
          readOnly: true
          description: Physical file first stored unix timestamp
      required:
        - sha256
        - size
        - created_at

    # --- Share ---

    Share:
      type: object
      properties:
        id:
          type: integer
          format: int64
          readOnly: true
          description: Auto-increment primary key
        entry_id:
          type: integer
          format: int64
          description: ID of the shared file or folder
        entry_type:
          type: string
          enum: [file, folder]
          description: Type of the shared entry
        token:
          type: string
          readOnly: true
          description: Unique share token
        has_password:
          type: boolean
          readOnly: true
          description: Whether the share is password-protected
        expires_at:
          type: [integer, "null"]
          format: int64
          description: Expiration unix timestamp (null = never)
        max_downloads:
          type: [integer, "null"]
          description: Maximum download count (null = unlimited)
        download_count:
          type: integer
          readOnly: true
          description: Current download count
        created_at:
          type: integer
          format: int64
          readOnly: true
          description: Unix timestamp
        updated_at:
          type: integer
          format: int64
          readOnly: true
          description: Unix timestamp
      required:
        - id
        - entry_id
        - entry_type
        - token
        - has_password
        - expires_at
        - max_downloads
        - download_count
        - created_at
        - updated_at

    SharedResource:
      description: Response for accessing a shared resource
      type: object
      properties:
        token:
          type: string
          description: Share token
        entry:
          $ref: "#/components/schemas/Entry"
          description: The shared file or folder
        expires_at:
          type: [integer, "null"]
          format: int64
          description: Expiration unix timestamp
        remaining_downloads:
          type: [integer, "null"]
          description: Remaining download quota (null = unlimited)
      required:
        - token
        - entry

    # --- Pagination wrappers ---

    PaginatedEntries:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Entry"
        total:
          type: integer
          format: int64
          description: Total number of items
        page:
          type: integer
          description: Current page number
        size:
          type: integer
          description: Items per page
      required:
        - items
        - total
        - page
        - size

    TrashEntries:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Entry"
      required:
        - items

    PaginatedShares:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: "#/components/schemas/Share"
        total:
          type: integer
          format: int64
        page:
          type: integer
        size:
          type: integer
      required:
        - items
        - total
        - page
        - size

  # ----------------------------------------------------------
  #  Request Bodies
  # ----------------------------------------------------------
  requestBodies:
    UploadFile:
      required: true
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              file:
                type: string
                format: binary
                description: The file to upload
            required:
              - file

    UploadFileStream:
      required: true
      content:
        application/octet-stream:
          schema:
            type: string
            format: binary
            description: Raw file bytes

    UpdateFile:
      content:
        application/json:
          schema:
            type: object
            properties:
              display:
                type: string
                minLength: 1
                description: New file name
              parent_id:
                type: [integer, "null"]
                format: int64
                description: Move to another folder (null = root)

    CreateFolder:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              display:
                type: string
                minLength: 1
                description: Folder name
              parent_id:
                type: [integer, "null"]
                format: int64
                description: Parent folder ID (omit or null = root)
            required:
              - display

    UpdateFolder:
      content:
        application/json:
          schema:
            type: object
            properties:
              display:
                type: string
                minLength: 1
                description: New folder name
              parent_id:
                type: [integer, "null"]
                format: int64
                description: Move to another folder (null = root)

    CreateShare:
      required: true
      content:
        application/json:
          schema:
            type: object
            properties:
              entry_id:
                type: integer
                format: int64
                description: ID of the file or folder to share
              entry_type:
                type: string
                enum: [file, folder]
                description: Type of the shared entry
              password:
                type: string
                minLength: 1
                description: Optional plaintext password
              expires_at:
                type: integer
                format: int64
                description: Expiration unix timestamp (omit = never)
              max_downloads:
                type: integer
                minimum: 1
                description: Maximum download count (omit = unlimited)
            required:
              - entry_id
              - entry_type

    UpdateShare:
      content:
        application/json:
          schema:
            type: object
            properties:
              password:
                type: [string, "null"]
                minLength: 1
                description: Set a new password (null = remove password)
              expires_at:
                type: [integer, "null"]
                format: int64
                description: New expiration (null = never expire)
              max_downloads:
                type: [integer, "null"]
                minimum: 1
                description: New download limit (null = unlimited)

  # ----------------------------------------------------------
  #  Responses
  # ----------------------------------------------------------
  responses:
    Error:
      description: Operation failed
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

    FileDetail:
      description: File metadata
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/File"

    FolderDetail:
      description: Folder metadata
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Folder"

    ShareDetail:
      description: Share metadata
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Share"

    PaginatedEntries:
      description: Paginated list of files and folders
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PaginatedEntries"

    TrashEntries:
      description: Top-level soft-deleted files and folders
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/TrashEntries"

    PaginatedShares:
      description: Paginated list of shares
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PaginatedShares"

    SharedResource:
      description: Shared resource information
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/SharedResource"
